Host eve1
  HostName eve1.jm
  User root

Host g3mini
  HostName g3mini.jm

Host jm-macbook
  HostName jm-macbook.jm

Host jm-pc
  HostName jm-pc.jm

Host mini
  HostName mini.jm
  User josue

Host nas1
  HostName nas1.jm
  User josue-admin

Host pi
  HostName pi.jm

Host pydev
  user josue
  HostName pydev.vm.jm
