# physical devices
Host dmz-ubu
  HostName dmz-ubu.jm

Host jm-macbook
  HostName jm-macbook.jm

Host jm-pc
  HostName jm-pc.jm

Host mini
  HostName mini.jm
  User josue

Host nas1
  HostName nas1.jm
  User josue-admin

Host prox1
  HostName prox1.jm
  User root

Host prox2
  HostName prox1.jm
  User root

# virtual devices
Host eve1
  HostName eve1.vm.jm
  User root

Host eve1-centos-vm
    HostName 192.168.128.102

Host pydev
  user josue
  HostName pydev.vm.jm

Host kub01
  HostName kub01.vm.jm

Host kub02
  HostName kub02.vm.jm

Host kub03
  HostName kub03.vm.jm

Host kub04
  HostName kub04.vm.jm

Host kub05
  HostName kub05.vm.jm

Host kub06
  HostName kub06.vm.jm